<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <nav>
        <p>Jérémie Bayon</p>
        <ul>
            <li>Accueil</li>
            <li>À propos</li>
            <li>Projets</li>
            <li>Compétences</li>
            <li>Contact</li>
        </ul>
    </nav>
    <main></main>
    
</body>
</html>